*{
    margin: 0;
    padding: 0;
}

#homevideo{
    position: fixed;
    z-index: -1;
    background-clip: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    
}

@media (min-aspect-ratio: 16/9) {
    #homevideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #homevideo {
        width: auto;
        height: 100%;
    }
}

.logo img{
    width: 200px;
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
}

.welcome {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    background: rgba(0,0,0,0.8);
    
}

.welcome a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    background: rgba(0,0,0,0.8);
    
}

.welcome a:hover {
    background: #fff;
    color: #333;
}