* {
    padding: 0;
    margin: 0;
}

#homevideo {
    z-index: -1;
    position: fixed;
    
}

@media (min-aspect-ratio: 16/9) {
    #homevideo {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #homevideo {
        width: auto;
        height: 100%;
    }
}

.logo img {
    width: 250px;
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: -20px;
    z-index: 1;

}

.overlay { 
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index:-1;
    background:black;
    opacity:0.5;
}




